/*h1 {
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}
label {
  font-size: 16px;
  font-weight: bold;
}
footer {
  color: #595959;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
p strong {
  color: #2493df;
}*/
.section {
  padding: 20px;
  background-color: #1e1e1e;
  color: #9cdcfe; /*светло-синий*/
}
body {
  background-color: goldenrod;
  /*background-color: #333333; темно-серый*/
}
#soft {
  color: #e0e0e0; /*почти белый*/
}
b {
  color: #ce9178; /*светло-коричневый*/
}
h1 {
  /*color: #FF8C00; золотистый*/
  color: gold; /*золото*/
  text-shadow: 3px 2px 2px blue;
}
h2 {
  color: #ff8c00; /*золотистый*/
}
h3 {
  color: #6a9955; /*зеленый*/
}
input,
textarea {
  background-color: #e0e0e0; /*почти белый*/
  color: blue;
}
.copyright {
  color: #595959;
  /*color: #6A9955; зеленый*/
  padding-left: 20px;
}
strong {
  color: #569cd6; /*синий*/
  /*color: #6A9955; зеленый*/
  /*color: #D4D4D4; светло-серый*/
}
li {
  color: #9cdcfe; /*светло-синий*/
  /*color: #CE9178; светло-коричневый*/
}
#row {
  /*color: #569CD6; синий*/
  color: #ce9178; /*светло-коричневый*/
}
.img {
  border: 3px ridge #ff8c00;
}
.table {
  border: 3px ridge #ff8c00;
}
a {
  color: #ce9178; /*светло-коричневый*/
  /* text-decoration: underline; */
}
a:hover {
  /* background-color: blue; */
  border-bottom: 1px solid white;
}
a:visited {
  color: #569cd6; /*синий*/
}

/*#buy {
  background-color: #687373;
  margin-top: 10px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #fcfcfc;
}
ul {
  list-style-type: square;
  list-style-position: inside;
  list-style-image: none;
  padding-left: 30px;
}*/
